<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
<link rel="icon" type="image/png" href="{{ "/assets/favicon-32x32.png" | absolute_url }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ "/assets/favicon-16x16.png" | absolute_url }}" sizes="16x16" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous">
  <title>
    {% if page.title != site.title %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %} 
  </title>
</head>