body, html {
  background-color: #F6F6F6;
}

.my-head {
  position: absolute;
  right: 0;
  width: 183px;
  height: 183px;
  bottom: -67px;
}

@media (max-width: 710px) {
  .my-head {
    width: 110px;
    height: 110px;
    bottom: -59px;
  }
}