<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <section class="section">
      <div class="container">
        {{ content }}
        {% include social.html %}
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h2>Artigos</h2>
        <ul class="myposts">
          {% for post in site.posts %}
          <li>
            <small class="postDate">{{ post.date | date: "%d/%m/%Y" }}</small>
            <a href="{{ post.url | prepend:site.baseurl }}" title="{{ post.title}}">{{ post.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </body>
</html>