<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <section class="hero has-background-white">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          {{ page.title }}
        </h1>
        <h2 class="subtitle">
          {{ page.subtitle }}
        </h2>
        {% include social.html %}
        <div class="my-head"></div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2>Artigos</h2>
      <ul class="myposts">
        {% for post in site.posts %}
        <li>
          <span class="postDate has-text-grey-light text-mono">{{ post.date | date: "%m/%Y" }} </span>
          <a href="{{ post.url | prepend:site.baseurl }}" title="{{ post.title}}"> {{ post.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <script src="//instant.page/1.0.0" type="module"
    integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI"></script>
</body>

</html>