<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body class="post">
  {% include nav.html %}
  <section class="hero has-background-white">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ page.title }}
        </h1>
        {% if page.subtitle %}
        <h2 class="subtitle">
          {{ page.subtitle }}
        </h2>
        {% endif %}
        <p class="is-7  has-text-grey-light text-mono">{{ page.date | date: "%d/%m/%Y" }}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      {% if page.previous.url %}
        <a class="is-pulled-left" href="{{page.previous.url | prepend:site.baseurl}}">← {{page.previous.title}}</a>
      {% endif %} {% if page.next.url %}
        <a class="is-pulled-right" href="{{page.next.url | prepend:site.baseurl}}">{{page.next.title}} →</a>
      {% endif %}
    </div>
  </section>
  {% include footer.html %}
</body>

</html>